{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'css/all.css' %}">
    <link rel="stylesheet" href="{% static 'css/blogdetails.css' %}">
</head>

<body id="body" class="dark-mode">
    <nav class="navbar navbar-expand-lg">
        <div class="">
            <a class="navbar-brand" href="../index">Walid Ayaan Kawsar</a>
        </div>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'home' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'about' %}">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'project' %}">Projects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'publications' %}">Publications</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'blog' %}">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'contact' %}">Contact</a>
                </li>
                <li>
                    <button class="nav-link" id="toggle-mode"><i class="fa-solid fa-sun"
                            style="color: #ffc800;"></i></button>
                </li>
            </ul>
        </div>
    </nav>

    <section>
        <div class="post">
            <h1>{{ post.name }}</h1>
            <div id="postImg">
                <img class="postImage" src="{{ post.picture.url }}" alt="This is a post image">
            </div>
            <!-- Tag container -->
            <div class="tags-container">
                <Span style="font-weight: 600;">Tags: </Span>
                {% for tag in post.tag.all %}
                <span class="tag">{{ tag.Tag_name }}</span>
                {% endfor %}
            </div>
            <div class="post-details">
                <p>{{ post.description|linebreaksbr }}</p>
            </div>
            <p class="post-date fst-italic fw-lighter">{{ post.date }}</p>
        </div>
    </section>



    <footer>
        <a href="mailto: {{ link.mail }}"><i class="fa-solid fa-envelope"></i></a>
        <a href="{{ link.linkedin }}"><i class="fa-brands fa-linkedin"></i></a>
        <a href="{{ link.github }}"><i class="fa-brands fa-github"></i></a>
    </footer>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <script src="{% static 'js/all.js' %}"></script>
</body>

</html>